.box1 {
  text-align: center;
  margin-top: 20px;
}
.headline {
  font-family: "Press Start 2P", cursive;
  color: blue;
  animation: blinkingText 1.2s infinite;
}
/* @keyframes blinkingText{
  0%{     color: black;    }
  49%{    color: red; }
  60%{    color: transparent; }
  99%{    color:transparent;  }
} */
.container {
  background: black;
  display: inline-block;
  border: 5px solid black;
}
.grid {
  display: grid;
  grid-template-columns: repeat(9, 50px);
  grid-template-rows: repeat(9, 50px);
  grid-gap: 5px;
}
.cell {
  /* center the cell content */
  justify-content: center;
  align-items: center;
  display: flex;
  font-family: Arial;
  font-size: 3rem;
  font-weight: bold;
  background: white;
}
/* .cell:hover {
  background: yellow;
} */
/***************************/
.box2 {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}
.start, .end {
  background-color: blue;
  border: 5px solid black;
  border-radius: 7%;
  color: black;
  font-size: 20px;
  font-family: "Press Start 2P", cursive;
  padding: 10px;
}
button:hover {
  background-color: black;
  color: blue;
  border: 5px solid blue;
}
/***************************/
.box3 {
  text-align: center;
  display: none;
}
.score {
  margin: 0 auto;
  width: 300px;
  height: 50px;
  background-color: blue;
  border: 5px solid black;
}
.score > p {
  float: left;
  width: 50%;
  font-family: "Press Start 2P", cursive;
}
/***************************/

.green{
  background-color: green;
}
.red{
  background-color: red;
  background-image: url("https://img.icons8.com/emoji/48/000000/bomb-emoji.png");
}